.page-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-container
{
    display: flex;
    align-items: center;
}

.info-box a
{
    color: black;
}

a:hover
{
    color: white;
}