.page-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-container
{
    display: flex;
    align-items: center;
}

.info-box
{
    width: 50%;
    padding-left: 4%;
}

.info-box a
{
    color: black;
}

a:hover
{
    color: white;
}